<div class="card shadow-sm">
    <img [src]="productInfo?.image" width="80%" height="200">

    <div class="card-body">
        <p class="card-text">{{productInfo && productInfo.description}}</p>
        <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            
            <small class="text-body-secondary">In Stock:{{productInfo && productInfo.rating.count}}</small>
            <small class="text-body-secondary">Rate:{{productInfo && productInfo.rating.rate}}</small>

        </div>
    </div>
</div>